/*
Theme Name: Responsive Grid Test
Description: Responsive Grid Test
Author: Huntly Cameron
Author URI: http://www.huntlycameron.co.uk/
Version: 1.0
*/

/** Generic styles **/
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial;
}

/* forms */
input[type="text"],
input[type="submit"],
button{
	padding: 0.5em;
}

/* main layout: 90% centered; */
#page_wrap{
	max-width: 980px;
	margin: 0 auto;
}


/***** header and nav styles ******/
nav #logo{
	display: block;
	float: left;
	margin-top: 7px;
	margin-right: 5%;
}
nav #mobile-menu{
	display: none; /** hidden by default **/
	width: 40px;
	height: 40px;
	margin-top: 1em;
	overflow: hidden;
	text-indent: -1000px;
	background: transparent url('img/menu.png') no-repeat 0 0;
	float: right;
}

nav ul{
	list-style-type: none;
}

nav ul li{
	float: left;
}

nav ul li a{
	display: block;
	padding: 1em;
	background-color: #00AEE8;
	color: #fff;
	text-decoration: none;
	margin-right: 1px;
	text-transform: uppercase;
}

nav ul li a:hover{
	background-color: #4ECBF5;
	padding-bottom: 1.5em;
}

nav ul li.current_page_item a{
	padding-bottom: 1.5em;
}

/***** main article style ******/
article#page-content h1{
	font-size: 32px;
	font-weight: lighter;
	margin-bottom: 0.5em;
}

article#page-content h2{
	color: #00AEE8;
	font-size: 22px;
	font-weight: lighter;
	margin-bottom: 0.5em;
}

article#page-content p{
	line-height: 1.5;
	margin-bottom: 1em;
}

article#page-content ul{
	line-height: 1.5;
	margin-left: 1.5em;
}

article#page-content a,
article#page-content a:active,
article#page-content a:visited{
	color: #00AEE8;
	text-decoration: underline;
}

article#page-content a:hover{
	color: #4ECBF5;
	text-decoration: underline;
}

/***** Sidebar style ******/
#sidebar{
	background-color: #00AEE8;
	color: #fff;
	padding: 1em;
}

/** no bullets **/
#sidebar ul{
	list-style-type: none;
}

/** main sidebar ul **/
#sidebar>ul{
	margin-left: 1em;
	margin-right: 1em;
}

#sidebar>ul>li{
	margin-bottom: 1.5em;
}

#sidebar>ul>li a{
	color: #fff;
}

#sidebar label[for="s"]{
	/* label to sit above the input field */
	display: block;
}

#sidebar h1{
	padding-bottom: 0.2em;
	margin-bottom: 0.4em;
	border-bottom: 1px dashed #fff;
}

/***** footer style ******/
footer p{
	background-color: #00AEE8;
	color: #fff;
	padding: 1.5em;
}

/*******************************************************************************

					MOBILE LAYOUT

*******************************************************************************/

@media screen and (min-width: 0px) and (max-width: 740px) {
	#page_wrap{
		width: 90%;
		margin: 0 auto;
		min-width: 320px;
	}

	#sidebar{
		display: none;
	}

	nav #mobile-menu{
		display: block;
	}

	nav ul{
		display: none;
		clear: both;
		position: absolute;
		top: 0;
		left: 0;
		width: 80%;
	}

	nav ul li{
		display: block;
		float: none;
	}

	/** make nav elements more like buttons **/
	nav ul li a{
	    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#189cc9), to(#189cc9));
	    background-image: -webkit-linear-gradient(top, #00AEE8, #189cc9);
	    background-image:    -moz-linear-gradient(top, #00AEE8, #189cc9);
	    background-image:     -ms-linear-gradient(top, #00AEE8, #189cc9);
	    background-image:      -o-linear-gradient(top, #00AEE8, #189cc9);
	    border-bottom: 1px solid #1686ac;
	}



	nav ul li a:hover,
	nav ul li.current_page_item a
	{
		background-color: #4ECBF5;
		padding-bottom: 1em;
	}
}

/*******************************************************************************

					Tablet LAYOUT

*******************************************************************************/
@media screen and (min-width: 741px) and (max-width: 980px) {
	#page_wrap{
		width: 90%;
		margin: 0 auto;
	}

	#sidebar{
		display: none;
	}

	#page-content{
		width: 100%;
	}
	nav ul{
		display: block !important;
	}
}